// ==========================================================================
// Footer Component
// ==========================================================================
@import "../abstracts/variables";
.page-footer {
  background: $black-bg;
  color: #e2e8f0;
  padding: $spacing-3xl $spacing-xl $spacing-md;

  .footer-title {
    display: flex;
    flex-direction: column;
    line-height: 65px;
    margin-bottom: 35px;
    span {
      font-size: 5rem;
      @include respond-to(md) {
        font-size: 3rem;
      }
    }
  }

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    margin-bottom: 20px;
    @include respond-to(md) {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
    .left {
      grid-column-start: 3;
      @include respond-to(md) {
        grid-column-start: auto;
      }
    }
    .right {
      grid-column-start: 4;
      @include respond-to(md) {
        grid-column-start: auto;
      }
    }
  }
  .footer-terms {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-direction: column;
    ul {
      display: flex;
      gap: 15px;
    }
  }

  .footer-contact {
    .newsletter {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 16px;
        display: block;
      }
      input {
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        color: white;
        margin-bottom: 16px;
        &:focus-visible {
          outline: none;
        }
      }
      button {
        width: max-content;
        font-size: 14px;
      }
    }
    .social-media {
      span {
        margin-bottom: 16px;
        display: block;
      }
    }
    ul {
      display: flex;
      gap: 15px;
    }
  }

  .footer-content {
    max-width: $container-max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: $spacing-xl;
    margin-bottom: $spacing-xl;
  }

  .footer-section {
    h3 {
      font-size: $font-size-3xl;
      font-weight: $font-weight-bold;
      margin: 0 0 $spacing-md 0;
      color: $text-light;
    }

    h4 {
      font-size: $font-size-xl;
      font-weight: $font-weight-semibold;
      margin: 0 0 $spacing-md 0;
      color: #cbd5e0;
    }

    p {
      margin: 0;
      line-height: $line-height-base;
      color: $text-gray-lighter;
    }

    .text-sm {
      font-size: $font-size-sm;
    }
  }
}
