// ==========================================================================
// Detail Page
// ==========================================================================
.detail-section {
  background-color: #15205F;
}
.detail-content {
  margin: 0 auto;
  padding-bottom: 5rem;

  .detail-card {
    overflow: hidden;
    display: flex;
    gap: 5rem;
    // box-shadow: $deep-shadow;

    @include respond-to(md) {
      flex-direction: column;
      gap: 2rem;
    }

    .detail-card-image-wrapper {
      flex: 0 0 auto;
      width: 30%;
      @include respond-to(md) {
        width: 100%;
      }
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .detail-info {

      h1 {
        font-size: $font-size-5xl;
        margin-bottom: $spacing-xl;
        color: $text-light;

        @include respond-to(md) {
          font-size: $font-size-4xl;
        }
      }

      .info-row {
        margin-bottom: $spacing-lg;
        font-size: $font-size-xl;
        color: $text-light;

        strong {
          color: $text-light;
        }
      }

      .plot {
        margin-top: 25px;
        line-height: 1.8;
        color: $text-light;
        font-size: $font-size-lg;
      }
    }
  }
}
